html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial,  sans-serif;
    font-size: 11px;
    background-color: #000000;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    color: green;
    font-size: 24px;
    font-family: Georgia, serif;
}
@keyframes color-change { 
    0% { color: green; }
    25% { color: blue; }
    50% { color: red; } 
    75% { color: yellow; }
    100% { color: green; }
}
h1:hover {
    animation: color-change 3s infinite;
}
img {
    width: 200px;
    height: auto;
    margin: 20px 0;
    padding: 50px 10px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}